header {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 96px;
    font-weight: 300;
    color: #F5A9F0;
} 

h1 {
    color: #202020;
    text-align: center;
    font-size: 48px;
    font-family: 'Satisfy', cursive;
}
