:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(0, 0%, 98%);
  }

  body {
    place-items: center;
    font-family: "Pacifico", cursive;
    color: var(--clr-neon);
    padding: 0;
    margin: 0;
    background: pink;
  }

  .number {
    font-size: 4rem;
    display: inline;
    color: black;
  }
  
  .option1 {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(189, 100%, 87%);
    padding: 0.25em 1em;
    text-shadow: 0 0 1rem hwb(249 17% 1%);
    background: #6728af;
  }

  .option2 {
    font-size: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 90%);
    padding: 0.25em 1em;
    text-shadow: 0 0 1rem hwb(0 100% 0%);
    background: #333333;
  }

  .option3 {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(187, 93%, 23%);
    padding: 0.25em 1em;
    text-shadow: 0 0 1rem hwb(182 31% 27%);
    background: #5cf7d5a2;
  }

  .option4 {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(293, 88%, 91%);
    padding: 0.25em 1em;
    text-shadow: 0 0 1rem hwb(295 53% 0%);
    background: #ff13ff;
  }

  .option5 {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(313, 100%, 53%);
    padding: 0.25em 1em;
    text-shadow: 0 0 1rem hwb(303 50% 1%);
    background: #f5bdfa;
  }


