* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: auto;
}

.body {
  height: 100vh;
}

.contact-title {
    font-size: 3rem;
}

.name-field {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.name-field div {
    padding: 1rem;
}
form {
    padding: 1rem 3rem 3rem 3rem;
}

/* label {
    background-color: #282828;
} */

input {
    font-size: 2rem;
    background-color: #282828;
    border-radius: 10px;
}

button {
    font-size: 2rem;
    background-color: #282828;
    color: #f3f2ed;
}